.section-obj{
    width: 50vw;
    font-size: 1.5rem;

}
.section-obj h1{
    text-align: center;
}
.main-obj{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }