.main-who{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}
.div-sections{
    display: grid;
    grid-template-columns: 40% 40%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.section-left-who h1{
    text-align: center;
}
.section-left-who{
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 1rem;
    padding: 1rem;
}
.section-right{
    overflow: hidden;

}
.p-section{
    font-size: 1.5rem;
    text-align: justify;
}
.d-block{
    border-radius: 1rem;
}
@media (max-width: 600px) {
    .main{
        height: 120vh;

    }
    .main-who{
        height: 120vh;
    }
    .div-sections{
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        padding: 0;
    }
    .d-block{
    }
}