.main-skills{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    flex-flow: row;
    height: 100vh;

}
@media (max-width: 600px){
    .main-skills{
        display: block;
        text-align: center;
    }
    .svg{
        height: 200px;
    }
}