h2{
    overflow-y: hidden;
    overflow-x: hidden;
    font-weight: 900;
    font-size: 3rem;
}
.div-project{
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 5rem;
    margin-bottom: 2vh;
    display: flex;
    padding: 2rem;
    margin: 1rem;
    align-items: center;
    width: 40vw;
    height: 30vh;
}
.main-proj{
    height: 110vh;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}
.section-proj{
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.div-2 p{
    width: 20vw;
    
}
@media screen{
    .main-proj{
        height: 180vh;
    }
    .section-proj{
        display: block;
        height: 180vh;
    }
    .div-project{
        width: 90vw;
        display: block;
        height: 40vh;
    }
    .div-2 p{
        width: auto;
    }
}