.footer {
  display: grid;
  align-items: center;
  background-color: #f0f0f0;
  border-top: 1px inset #8e59d7;
  width: 100vw;
  height: 20vh;
  grid-template-columns: 20% 50%;
}
.section-left-footer {
  justify-content: left;
}
.hFooter {
  font-weight: 800;
  height: 3vh;
  overflow-y: hidden;
}
.a-phone{
  text-decoration: none;
  color: black;
  transition: 0.5s ease-in-out;
}
.a-phone:hover{
  color: #260b4d;
  text-decoration: underline;
}
@media screen {
  .footer {
    padding: 2rem;
    display: flex;
  }
}
